@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-bottom: 3%;
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form CSS starts here */
form {
  font-family: "Baloo 2", cursive;
  border-radius: 20px;
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-self: center;
  flex-direction: column;
  font-size: 1.75rem;
  margin: auto;
  padding: 3%;
  color: white;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  margin: 40px auto;

  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 50%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(4px) saturate(103%);
  -webkit-backdrop-filter: blur(4px) saturate(103%);
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.5);
}

form svg {
  cursor: pointer;
}

form div span {
  display: inline-block;

  width: 35%;
}

form div input,
select {
  width: 60%;
}

form div input,
select,
form div button {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.5rem;
  border-radius: 7.5px;
  padding: 5px;
  outline: none;
  letter-spacing: 2px;
  border: 2px solid white;
  flex-grow: 1;
}
form div button {
  flex-grow: unset;
}

form div button:hover {
  border: 2px solid #00b0ff;
}

form div button {
  transition: all 0.75s ease-out;
  color: white;

  background: transparent;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 15px;
  display: block;
  margin: auto;
}

form div {
  display: flex;
  width: 100%;
  margin: 2%;
}

#ss-frequency span,
#min-time span {
  width: 100%;
  display: block;
}

#ss-frequency p input,
#min-time p input {
  width: 5ch;
}

#ss-frequency p,
#min-time p {
  width: 100%;
  text-align: center;
}

/* Form CSS ends here */

footer.footer-fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.error {
  background-color: rgba(22, 22, 22, 0.5);

  color: rgb(251, 188, 5);
  padding: 1%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* Responsive CSS */

@media screen and (max-width: 950px) {
  form {
    width: 90%;

    font-size: 1.5rem;
  }

  form div input,
  select,
  form div button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 750px) {
  form {
    margin-top: 5%;
  }
}

@media screen and (max-width: 500px) {
  form div span {
    display: block;
    width: 100%;
  }

  form {
    font-size: 1.25rem;
    margin-top: 10%;
  }

  form div input,
  select {
    width: 90%;
  }

  form div input,
  select,
  form div button {
    font-size: 1.1rem;
  }
}

h3#error-text {
  text-align: center;
}



html {
  min-width: 100vw;
  min-height: 100vh;
}

button[disabled] {
  cursor: not-allowed;
}

input[disabled] {
  background-color: white;
  color: black;
  cursor: not-allowed;
}

.img-input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.img-input-row svg {
  margin: auto;
}

form input[type="file"] {
  color:white;
  border:1px solid white;
}